:root {
  --dark-orange: #ff5823;
  --orange-shadow: rgba(245, 127, 23, 0.2);
  --white: #ffffff;
  --disabled-btn: #09bead7a;
  --error-message: #e44f4fd1;
  --toast-error: #e44f4ffa;
  --toast-shadow: #9c9c9ce3;
  --toast-success: #0cbfae;
  --loader-color: #0cbfae;
}
